#crypto {
    position: relative;
    box-sizing: border-box;
    width: auto;
    height: auto;
    background: none;
 }
 
 .d-block{
    display: block;
    height: 40%;
    width: 80%;
}