#content {
    position: absolute;
    top: 15%;
} 

.pullRight {
    position: absolute;
    top: 0;
    right: 10.2%;
    background-image: linear-gradient(to right, rgb(0, 0, 170) 10%, rgb(6, 6, 255));
}

.card {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60%;
    color: white;
    width: auto;
    margin: 1em 2em;
}