.container-fluid {
    margin: 0;
    padding: 0;
    background: rgb(1, 121, 168);
    width: 100%;
    height: 95vh;
}

nav {
    position: fixed;
    margin: 0;
    background: linear-gradient(rgb(237, 112, 241) 10%, rgb(1, 121, 168));
    color: white;
}

.section-container {
    position: relative;
    height: 40%;
}

section, .content {
    position: absolute;
    top: 70%;
    width: 80%;
}

.btn {
    margin: 1em;
    margin-top: 3em;
}

%register {
    color: white;
    border-radius: .2em;
    margin: 0 .2em;
    width: auto;
    padding: 0.2em 2em;
    background: rgb(71, 5, 20);
}

.sign-up {
    @extend %register;
}

.log-in {
    @extend %register;
}