#dashboard {
    margin: 0;
    padding: 0;
    background: none;
    width: 100%;
    height: auto;
}

#footer {
    position: absolute;
    bottom: 0;
}

.outline-success:hover {
    background: none;
}