#crypto {
    position: relative;
    top: 0;
    padding: 5em;
    width: auto;
    height: auto;
    background: rgb(223, 223, 223);
 }
 
 .d-block{
    display: block;
    height: 40%;
    width: 80%;
}

.news-box {
    background: white;
    padding: 1em;
    font-size: 1rem;
    margin: 1em;
    width: auto;
}